[Desktop Entry]
Type=Application
Name=GCW Connect
Comment=Manage wireless networks and settings
Exec=python gcwconnect.pyc
Categories=settings;
Icon=icon
